In [10]:
from sdv.datasets.local import load_csvs


datasets = load_csvs(folder_name='Datasets/')

In [11]:
datasets

{'MOCK_DATA':           lexid first_name last_name                       email       gender  \
 0    8888090530     Oliver  Sexstone        osexstone0@wufoo.com   Non-binary
 1    8888090531  Guglielmo   Carbine      gcarbine1@amazon.co.uk         Male
 2    8888090532      Arman   Jesteco           ajesteco2@who.int         Male
 3    8888090533     Eileen  Phillins      ephillins3@plala.or.jp  Genderfluid
 4    8888090534     Birgit      Long          blong4@t-online.de       Female
 ..          ...        ...       ...                         ...          ...
 995  8888091525      Danny      Mapp           dmapprn@google.ru   Polygender
 996  8888091526    Stavros   Watters  swattersro@cyberchimps.com         Male
 997  8888091527    Eugenio      Bysh                ebyshrp@g.co         Male
 998  8888091528     Morten   Hanmore          mhanmorerq@msu.edu  Genderqueer
 999  8888091529     Peadar     Faers        pfaersrr@archive.org         Male

           address
 0        Apt 1125
 1       Room 1294
 2     PO Box 6462
 3        Room 862
 4        Apt 1949
 ..            ...
 995      Room 660
 996      Apt 1331
 997  PO Box 93758
 998  PO Box 29439
 999     Room 1433

 [1000 rows x 6 columns],
 'MOCK_DATA1':           lexid first_name  last_name          ssn                vin
 0    8888090530      Heath   Craufurd  486-95-7376  1FTSX2A51AE389727
 1    8888090531       Tani     Bedell  160-67-7547  JN1BJ0HP3EM328006
 2    8888090532      Grove   Casaccia  105-41-9826  JTDKDTB38E1671911
 3    8888090533       Dena     Dibner  439-64-0448  1G6DH5E55C0557506
 4    8888090534     Mariam     Pagden  333-52-1023  WBAUP73578V811268
 ..          ...        ...        ...          ...                ...
 995  8888091525      Berky  Washbrook  264-89-6985  JTDKDTB35D1247973
 996  8888091526     Nancie     Grewes  335-72-9079  1GYS3AEF1DR291588
 997  8888091527   Natassia      Airth  798-89-0591  SCBGU3ZA8EC583961
 998  8888091528     Lawton     Gronno  136-87-7527  NM0GE9F71F1616105
 999  8888091529       Jane   Doerffer  589-82-1484  3C4PDCAB4FT856305

 [1000 rows x 5 columns]}

In [12]:
from sdv.metadata import MultiTableMetadata

metadata = MultiTableMetadata()

In [13]:
metadata.detect_from_csvs(
    folder_name='Datasets/'
)

In [14]:
metadata.update_column(
    table_name = "MOCK_DATA",
    column_name = "lexid",
    sdtype = "id"
)

In [15]:
metadata.update_column(
    table_name = "MOCK_DATA",
    column_name = "first_name",
    sdtype = "name"
)

In [16]:
metadata.update_column(
    table_name = "MOCK_DATA",
    column_name = "last_name",
    sdtype = "name"
)

In [17]:
metadata.update_column(
    table_name = "MOCK_DATA",
    column_name = "address",
    sdtype = "address",
    pii = True
)

In [19]:
metadata.update_column(
    table_name = "MOCK_DATA",
    column_name = "email",
    sdtype = "email",
    pii = True
)

In [21]:
metadata.update_column(
    table_name = "MOCK_DATA1",
    column_name = "first_name",
    sdtype = "name"
)

In [22]:
metadata.update_column(
    table_name = "MOCK_DATA1",
    column_name = "last_name",
    sdtype = "name"
)

In [23]:
metadata.update_column(
    table_name = "MOCK_DATA1",
    column_name = "lexid",
    sdtype = "id"
)

In [25]:
metadata.update_column(
    table_name = "MOCK_DATA1",
    column_name = "ssn",
    sdtype = "ssn",
    pii = True
)

In [27]:
metadata.set_primary_key(
    table_name = "MOCK_DATA",
    column_name = "lexid"
)

In [28]:
metadata.add_relationship(
    parent_table_name ="MOCK_DATA",
    child_table_name = "MOCK_DATA1",
    child_foreign_key = "lexid",
    parent_primary_key = "lexid"
)

In [31]:
from sdv.multi_table import HMASynthesizer

synthesizer = HMASynthesizer(metadata)
synthesizer.fit(datasets)

synthetic_data = synthesizer.sample()

Preprocess Tables: 100%|██████████| 2/2 [00:00<00:00,  2.62it/s]

Learning relationships:

(1/1) Tables 'MOCK_DATA' and 'MOCK_DATA1' ('lexid'): 100%|██████████| 1000/1000 [00:06<00:00, 144.27it/s]

Modeling Tables: 100%|██████████| 1/1 [00:00<00:00,  6.32it/s]

In [32]:
synthetic_data

{'MOCK_DATA':      lexid      first_name          last_name                       email  \
 0        0     Helen Olson        Amanda Howe         kayla30@example.com
 1        1     Brian Grant     Tanya Smith MD         ymurphy@example.com
 2        2  Laura Carrillo      Thomas Palmer   melissasnyder@example.net
 3        3  Catherine Ross    Meredith Harris    waltersjesse@example.org
 4        4    Kiara Miller         John James      larsonruth@example.net
 ..     ...             ...                ...                         ...
 995    995  Kimberly House   Jeffery Bradshaw        webberin@example.net
 996    996     Nancy Smith         Casey Bell       parkdavid@example.com
 997    997   Joshua Hanson        Maria Lyons  stacycarpenter@example.net
 998    998   Carlos Flores       Tyler Pierce           roy13@example.com
 999    999   Lori Gonzales  Matthew Carpenter          chad88@example.com

       gender                                            address
 0     Female  6062 Barnett Rapids Apt. 972\nAlicehaven, IL 2...
 1     Female  4929 Wesley Field Apt. 393\nSouth Daniellemout...
 2     Female       80150 Daniel Curve\nColemanborough, WV 86292
 3       Male        87795 Palmer Shoal\nTaylorborough, VA 96664
 4    Agender             1385 Miller Ford\nAndrewland, AR 02950
 ..       ...                                                ...
 995     Male                   Unit 1246 Box 2234\nDPO AA 28121
 996     Male                        USS Christian\nFPO AP 81367
 997   Female           0798 Wesley Drive\nSouth Derek, GA 19736
 998   Female  926 Heather Prairie Apt. 512\nKirstenbury, LA ...
 999     Male  8000 Stephenson Stravenue Apt. 483\nJoshuafurt...

 [1000 rows x 6 columns],
 'MOCK_DATA1':      lexid        first_name                 last_name          ssn  \
 0        0     James Collins                Jill Costa  833-05-2562
 1        1      Matthew Wood                Monica Cox  471-41-5466
 2        2      Laura Nguyen            Shane Williams  476-61-1287
 3        3      Wesley Lopez              Stephen Cole  151-43-4906
 4        4   Matthew Herrera              Chad Hopkins  045-75-6342
 ..     ...               ...                       ...          ...
 995    995       Rita Walker             Marcia Howell  512-08-8955
 996    996     Marisa Orozco  Miss Jennifer Brewer DDS  436-59-5250
 997    997     Joseph Castro               Mary Garcia  885-43-5248
 998    998  Richard Delacruz         Christopher Davis  684-50-1558
 999    999        Tara Bowen              James Robles  163-54-6128

                    vin
 0    W04GY5GV8B1725312
 1    WBAYM1C50DD146124
 2    WUARU98E47N766345
 3    WA1KK98RX9A684499
 4    WVWAA7AJ6CW120517
 ..                 ...
 995  WBA4C9C54FG766962
 996  SCBGU3ZA8EC583961
 997  5N1AR2MM0EC282449
 998  1GYFC56289R845043
 999  WBA4C9C54FG766962

 [1000 rows x 5 columns]}